<div class="row">
   <div id="content" class="col-md-9">
      {{ form_start(form, {'attr': {'id': 'registerForm'}}) }}
      
      {{ form_label(form.title, "Title:") }}
      {{ form_errors(form.title) }}
      {{ form_widget(form.title) }}
      
      <br/>
      
      {{ form_label(form.description, "Description:") }}
      {{ form_errors(form.description) }}
      {{ form_widget(form.description) }}
      
      {{ include('GuitarFeelingBundle:Tutorial:star_rating_form.html.twig') }}
      
      {{ form_label(form.category, "Category:") }}
      {{ form_errors(form.category) }}
      {{ form_widget(form.category) }}

      <br/>
      
      {{ form_label(form.introduction, "Introduction:") }}
      {{ form_errors(form.introduction) }}
      
      <br/>

      {{ include('GuitarFeelingBundle::text_editor_toolbar.html.twig') }}
      <div id="introduction" contenteditable="true">{{ tutorial.introduction | raw }}</div>
      <textarea id="tutorial_introduction" name="tutorial[introduction]" required="required" style="display:none"></textarea>

      {{ form_widget(form._token) }}
      
      <div><button type="submit" id="tutorial_submit" name="tutorial[submit]" onclick="return getContent()">Submit</button></div>
      
      {{ form_end(form, {'render_rest': false}) }}
   </div>
</div>

<a href="{{ path('guitar_feeling_tutorials') }}">Back</a>
