<div class="row">
   <div id="content" class="col-md-9">
      {{ form_start(form, {'attr': {'id': 'registerForm'}}) }}
      
      {{ form_label(form.title, "Title:") }}
      {{ form_errors(form.title) }}
      {{ form_widget(form.title) }}
      
      <br/>
      
      {{ form_label(form.picture, "Picture:") }}
      {{ form_errors(form.picture) }}
      {{ form_widget(form.picture) }}
      
      <img id="pictureViewer" src="{{ asset('uploads/Tutorial/pictures/' ~ tutorial.picture) }}" width="40%" height="40%" />
      
      <br/>
      
      {{ form_label(form.description, "Description:") }}
      {{ form_errors(form.description) }}
      {{ form_widget(form.description) }}
      
      {{ include('GuitarFeelingBundle:Tutorial:star_rating_form.html.twig') }}
      
      {{ form_label(form.category, "Category:") }}
      {{ form_errors(form.category) }}
      {{ form_widget(form.category) }}

      <br/>
      
      {{ form_label(form.introduction, "Introduction:") }}
      {{ form_errors(form.introduction) }}
      {{ form_widget(form.introduction) }}
      
      <br/>
      
      {{ form_widget(form._token) }}
      
      <div><button type="submit" id="tutorial_submit" name="tutorial[submit]" onclick="return getContent()">Submit</button></div>
      
      {{ form_end(form, {'render_rest': false}) }}
   </div>
</div>

<a href="{{ path('guitar_feeling_tutorials') }}">Back</a>
