{% extends 'GuitarFeelingBundle::layout.html.twig' %}

{% block body %}

   <div class="row">
      <div id="content" class="col-md-9">
         <b>Title:</b> {{ tutorial.title }}
         <br/>
         <b>Description:</b> {{ tutorial.description }}
         <br/>
         <b>Category:</b> {{ tutorial.category.name }}
         <br/>
         <b>Level:</b> {{ tutorial.level.name }}
         <br/>
         <b>Introduction:</b>
         <div id="introduction" contenteditable="false">{{ tutorial.introduction | raw }}</div>
      </div>
   </div>
   
   <a href="{{ path('guitar_feeling_tutorials') }}">Tutorials</a>
   
{% endblock %}
