<div class="star-rating" value="{% if tutorial.level is null %}1{% else %}{{ tutorial.level.step }}{% endif %}">
   <div class="star-rating__wrap">
      <input class="star-rating__input" id="{{tutorial.title}}-star-rating-5" type="radio" value="5">
      <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-5" title="{{ levels[4].name }}"></label>
      <input class="star-rating__input" id="{{tutorial.title}}-star-rating-4" type="radio" value="4">
      <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-4" title="{{ levels[3].name }}"></label>
      <input class="star-rating__input" id="{{tutorial.title}}-star-rating-3" type="radio" value="3">
      <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-3" title="{{ levels[2].name }}"></label>
      <input class="star-rating__input" id="{{tutorial.title}}-star-rating-2" type="radio" value="2">
      <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-2" title="{{ levels[1].name }}"></label>
      <input class="star-rating__input" id="{{tutorial.title}}-star-rating-1" type="radio" value="1">
      <label class="star-rating__ico fa fa-star-o fa-lg" for="star-rating-1" title="{{ levels[0].name }}"></label>
   </div>
</div>
